.novelties {
  margin-bottom: 150px;
}

.novelties-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.novelties-item {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.novelties-item h3 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.novelties-item p {
  margin: 0;
}

.novelties-text {
  padding-left: 50px;
}

.novelties-item__detail {
  display: none;
  margin-top: 20px;
  padding-left: 50px;
  transition-duration: 5s;
}

.novelties-text:hover {
  display: none;
  order: 1;
}

.novelties-text:hover ~ .novelties-item__detail {
  display: block;
}