body {
  background-color: white;
  font-family: PT Serif, Georgia, serif;
  font-size: 16px;
  font-weight: 400;
  width: 1500px;
  margin: 0 auto;
  border: 3px solid skyblue;
  box-sizing: border-box;
  padding: 0 80px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

h2 {
  color: #e0c78c;
  font-family: Yeseva One, Goergia, serif;
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.heading-description {
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}